
$color-primary: #0095f6;
$color-secondary: #00376b;
$color-dark-1: #2A2A2F;
$color-dark-2: #505058;
$color-dark-3: #7C7C83;
$color-dark-4: #B1B1B7;
$color-dark-5: #DBDBE0;
$color-dark-6: #E5E5EA;
$color-dark-7: #F0F0F5;

$breakpoints: (
  'xxs': 320px,
  'xs': 480px,
  'sm': 768px,
  'md': 992px,
  'lg': 1200px
);
